# OWNERS File for configmgr-hub
# Each line is a file pattern followed by one or more owners.

# You can also use email addresses if you prefer.
CODEOWNERS @microsoft/configmgr
README.md @microsoft/configmgr
* @microsoft/configmgr
tools/ExtensionDownloader.ps1 @microsoft/configmgr-hub
pipelines/secure-scan.yml @microsoft/configmgr-hub